{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1 class="title">Search in big data</h1>
        <div class="search_field">
                <input type="text" id="search" class="search" placeholder="player Ronaldo, id 13431 ...">
                <button id="load_files" class="button">Load Files</button>

                <!-- <progress id="progress" class="progress" value="0" max="100"></progress> -->

        </div>
        <div class="response_field">

        </div>
    </main>
</body>
</html>